version: '3.9'

services:
  api_matchs:
    build:
      context: .
      dockerfile: ./Dockerfile
    env_file:
      - .env
    ports:
      - 3002:3002
    restart: always
    networks:
      - mysql_default

networks:
  mysql_default:
    external: true